.agenda {
    margin: 1.6em;
    padding-bottom: 58px;
}

.agenda__dia--wrapper {
    margin: 1.6em 0;
    padding-top: 1.2em;
}

.agenda__dia--wrapper:first-of-type {
    padding-top: 0;
}

.agenda__dia--titulo {
    font-size: 1.6em;
    font-weight: 700;
    margin: 0.8em 0;
}

@media screen and (min-width: 768px) {
    .agenda__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 40px;
        
    }
}

@media screen and (min-width: 1440px) {
    .agenda__dia--titulo {
        font-size: 2em;
    }
}